{% extends "base.html" %} {% import "macros/home.html" as home %} {% block
content %}zo
<p>I'm a Software Engineer.</p>
<p>I work in E-commerce.</p>
<p>I live in Manchester.</p>
{% set section = get_section(path=section.extra.section_path) %}
<section class="section">
  <h2>Work</h2>
  <ul>
    {% for page in section.pages %} {% if page.extra.group == "work" %}
    <li>
      {{ home::preview(title=page.title, role=page.extra.role,
      shortdescription=page.extra.short_description,
      released=page.extra.released, pills=page.extra.pills,
      permalink=page.permalink) }}
    </li>
    {% endif %} {% endfor %}
  </ul>
</section>
<section class="section">
  <h2>Play</h2>
  <ul>
    {% for page in section.pages %} {% if page.extra.group == "play" %}
    <li>
      {{ home::preview(title=page.title, role=page.extra.role,
      shortdescription=page.extra.short_description,
      released=page.extra.released, pills=page.extra.pills,
      permalink=page.permalink) }}
    </li>
    {% endif %} {% endfor %}
  </ul>
</section>
{% endblock content %}
