{% import "macros.html" as macros %} {% extends "base.html" %} {% block content
%}
<h1 class="title">{{ section.title }}</h1>
<h2>Work</h2>
<ul>
  {% for page in section.pages %} {% if page.extra.group == "work" %}
  <li>
    {{ macros::preview(title=page.title, description=page.description,
    released=page.extra.released, pills=page.extra.pills,
    permalink=page.permalink) }}
  </li>
  {% endif %} {% endfor %}
</ul>
<h2>Play</h2>
<ul>
  {% for page in section.pages %} {% if page.extra.group == "play" %}
  <li>
    {{ macros::preview(title=page.title, description=page.description,
    released=page.extra.released, pills=page.extra.pills,
    permalink=page.permalink) }}
  </li>
  {% endif %} {% endfor %}
</ul>
{% endblock content %}
